* {
    padding: 0px;
    margin: 0px;
    font-family: 'sarabun', Arial, Helvetica, sans-serif;
}

.container {
    width: 1440px;
    height: 900px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 80px 830px 450px;
    grid-column-gap: 40px;
}

.left {
    grid-column: 1/2;
    border-right: 0.1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.actions {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center {
    grid-column: 2/3;
}

.right {
    grid-column: 3/4;
    grid-template-rows: 320px 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.participants {
    height: 320px;
    width: 450px;
    grid-row: 1/2;
}

.participants_participants {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1 {
    font-size: 32px;
    font-weight: bold;
}

.text2 {
    font-size: 22px;
    height: 36px;
    width: 36px;
    color: #EB7F9A;
    background-color: #FDF2F4;
    border-radius: 16px;
}

.friend1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat {
    height: 580px;
    width: 450px;
    grid-row: 2/3;
}