* {
    padding: 0px;
    margin: 0px;
    font-family: 'sarabun', Arial, Helvetica, sans-serif;
}

.container {
    width: 1440px;
    height: 900px;
    display: grid;
    grid-template-columns: 80px 830px 450px;
    grid-column-gap: 40px;
}

/* Phần bên trái */
.left {
    grid-column: 1/2;
    border-right: 1px solid #EAECEFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.actions {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Phần bên phải */
.right {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 323px 576px;
}

.right .participants {
    position: relative;
    border-left: 1px solid #EAECEFFF;
    border-bottom: 1px solid #EAECEFFF;
}

.participants p {
    display: inline-block;
}

.participants .title_par {
    position: absolute;
    width: 386px;
    top: 32px;
    left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.par_title .par_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.par_text .text {
    padding-right: 8px;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}

.par_text .number {
    padding: 6px;
    font-size: 12px;
    background-color: #FDF2F4FF;
    border-radius: 12px;
    color: #E34D73FF;
    cursor: pointer;
}

.title_par .bt_add {
    width: 72px;
    height: 36px;
    color: #E34D73FF;
    border: 1px solid #E34D73FF;;
    background: #FFFFFFFF;
}

.bt_add .icon_add {
    padding: 3px; 
}

.participants .list {
    position: absolute;
    list-style-type: none;
    width: 386px;
    height: 192px;
    top: 100px;
    left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.list .friend {
    width: 386px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list .avt {
    width: 181px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avt .text {
    width: max-content;
    font-size: 14px;
    padding-left: 8px;
}

.list .button {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button .icon_dots {
    color: #6E7787;
    font-size: 12px;
}

.right .chat {
    position: relative;
    display: block;
    grid-row: 2/3;
    height: 580px;
    width: 450px;
    border-left: 1px solid #EAECEFFF;
}

.chat .text_chat {
    position: absolute;
    top: 33px;
    left: 32px;
    font-size: 24px;
    font-weight: bold;
}

.chat .friend_chat .avt {
    width: 36px;
    height: 36px;
    position: absolute;
}

.friend_chat p {
    display: inline-block;
}

.friend_chat .name {
    width: max-content;
    position: absolute;
    left: 52px;
    font-size: 14px; 
    font-weight: bold;
    line-height: 36px; 
    color: #323842FF;
}

.friend_chat .time {
    width: max-content;
    font-size: 12px; 
    line-height: 36px; 
    color: #9095A0FF;
}

.friend_chat .mess {
    width: 334px; 
    height: 68px; 
    position: absolute;
    top: 36px;
    left: 52px;
    background-color: #F8F9FAFF;
    border-radius: 4px;
}

.mess .text {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    line-height: 22px;
    color:  #171A1FFF;
}

.chat .Deborah_Chu {
    position: absolute;
    top: 101px;
    left: 32px;
}

.Deborah_Chu .time {
    position: absolute;
    left: 152px;
}

.chat .Jordan_Nieves {
    position: absolute;
    top: 229px;
    left: 32px;
}

.Jordan_Nieves .time {
    position: absolute;
    left: 157px;
}

.chat .Benjamin_Crawford {
    position: absolute;
    top: 357px;
    left: 32px;
}

.Benjamin_Crawford .time {
    position: absolute;
    left: 196px;
}

.Benjamin_Crawford .mess_benjamin {
    width: 99px; 
    height: 52px; 
    background: #FDF2F4FF;

}

.chat .Christian_Scott {
    position: absolute;
    top: 469px;
    left: 32px;
}

.Christian_Scott .form_input {
    width: 386px;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_input .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 4px;
}

.input .text_input {
    width: 270px;
    padding: 10px;
    border: none;
    outline: none;
    color: #BCC1CA;
    background-color: #F3F4F6;
}

.input .icon_chat {
    padding: 10px;
}

.input .typing {
    display: none;
    position: absolute;
    top: 5px;
    left: 52px;
    font-size: 14px; 
    line-height: 22px; 
    color: #6E7787FF;
    background-color: #F8F9FA;
    padding: 10px;
    box-sizing: border-box;
}

/* Phần center */
.center {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 145px 495px 185px 70px;
}

/* Tiêu đề - thời gian */
.heading_title{
    grid-row: 1/2;
}

.content_heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.metting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.metting .title {
    font-size: 24px;
    font-weight: bold;
}

.metting .subtitle {
    padding-top: 25px;
}

.metting .subtitle .internal {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    background-color: #E34D73;
    border-radius: 25px;
    color: #fff;
}

.metting .subtitle p {
    display: inline-block;
    font-size: 14px;
    color: #323842FF;
    line-height: 22px; 
}

.subtitle .straight {
    color: #DEE1E6FF;
}

.content_heading .time {
    position: absolute;
    top: 32px;
    right: 40px;
    width: 70px;
    padding: 7px 7px;
    color: #f22128;
    border: 1px solid #f3383e;
    border-radius: 20px;
}

.time p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.time p .dot {
    font-size: 10px;
}

/* Phần hình ảnh */
.pic p {
    display: inline-block;
}

.box_img .name {
    border-radius: 4px;
    background-color: #171A1F80;
}

.box_img .name .text_img {
    color: #fff;
}

.box_img .name .dot_img {
    color: #1DD75BFF;
}

/* Hình ảnh to nhất */
.pic_main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pic_main .box_img {
    width: 830px;
    height: 470px;
    background-color: #f8f9fa;
    position: relative;
    border-radius: 4px;
}

.box_img .imgbig {
    position: absolute;
    top: 12px;
    width: 100%;
    height: 458px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box_img .name_big {
    width: 159px;
    height: 38px;
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box_img .img_mic {
    position: absolute;
    top: 25px;
    right: 24px;
}

.name_big .dot_img_big {
    position: absolute;
    top: 15px;
    left: 8px;
    font-size: 8px;
}

.name_big .text_img_big {
    position: absolute;
    top: 8px;
    left: 24px;
    font-size: 14px;
    line-height: 22px;
}

.box_img .name_big {
    position: absolute;
    top: 24px;
    left: 8px;
    width: 101px;
    height: 26px;
    border-radius: 4px;
    background-color: #171A1F80;
}

/* phan hinh anh nho o giua man hinh */
.picter_member {
    grid-row: 3/4;
    display: grid;
}
.pic_members {
    display: flex;
    justify-content: space-between;
}

.box_img {
   width: 261px; 
   height: 160px;
   position: relative;
}

.box_img .img_member {
    border-radius: 4px;
}

.box_img .img_mic_member {
    position: absolute;
    top: 6px;
    right: 8px;
}

.box_img .name_member {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 101px;
    height: 26px;
    border-radius: 4px;
    background-color:  #171A1F80;
}

.name_member .dot_img {
    color: #1DD75BFF;
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 8px;
}

.name_member .text_img {
    position: absolute;
    top: 4px;
    left: 24px;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
}
